<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test1">
  <classes>
   <class name="com.tvisha1.Tvisha1"/> 
   <class name="com.tvisha1.Tvisha2"/> 
    <class name="com.tvisha1.Test"/> 
     <class name="com.tvisha1.Test1"/> 
  </classes>
  </test> 
</suite> 

